*{
    margin: 0;
    padding: 0;
}
/*General*/
main{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Utilidades*/

/*Clases*/
.card{
    border: 2.5px solid black; 
    border-radius: 12px;
    padding: 12px;
    background-color: #FF8B01;
    max-width: 260px;
}