@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik+Iso&display=swap');
*{
    margin: 0;
    padding: 0;
    --principal-letras: rgb(17, 15, 15); 
    --fondo-letras: rgb(176, 249, 252);
    color: var(--principal-letras);
    font-family: font-family: 'Roboto', sans-serif;;
}
/*General*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Rubik Iso', cursive;
    font-size: 25px;
    font-weight: bolder;
}
li{
    list-style:georgian;
    margin-left: 15px;
}
/*Utilidades*/


/*Clases*/
.card{
    border: 3px solid black; 
    border-radius: 12px;
    padding: 25px;
    background: linear-gradient( 40deg, rgba(230, 204, 92, 0.925), rgb(255, 60, 93));
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.card:hover{
   transform: scale(01.2);
   box-shadow: 0px 2px 8px 12px rgba(6, 152, 219, 0.514),0px 1px 20px 28px rgba(32, 158, 216, 0.479),  0px 1px 20px 35px rgba(173, 220, 241, 0.61);
   transition: all 0.2s ease-in-out;
}
.name_card{
    background-color: var(--fondo-letras);
    border: 3px solid black; 
    border-radius: 12px;
    text-align: center;
    width: 220px;
    margin-top: -43px;
    margin-bottom: 8px;
}
.info_card{
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img_card{
    width: 250px;
    border-radius: 15px;
    margin: 15px 0px 25px;
    border: 2.8px solid black;
    box-shadow: 0px 2px 8px 12px var(--fondo-letras);
    
}
.contenido_card p{ 
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}
.contenido_card p::first-letter{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Rubik Iso', cursive;
    padding: 1px 2px;
    border-radius: 3px;
    background-color: rgb(176, 249, 252);
}